@import "tailwindcss";

:root {
    --toastify-color-dark: #1F2937;
    --toastify-icon-color-success: #059669;
    --toastify-text-color-dark: #E5E7EB;
}

html {
    font-family: "Signika Negative", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dots_menu_animation,
.radio_task_animation,
.todo_modify_form_animation {
    --animate-duration: 0.20s;
}