@import "tailwindcss";


html {
    font-family: "Signika Negative", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dots_menu_animation,
.radio_task_animation {
    --animate-duration: 0.20s;
}